version: '3'
services:
  microserviceadmin:
    image: 979550021694.dkr.ecr.us-east-2.amazonaws.com/microservicetestadmin:1.0
    ports:
      - 5000:5000
    environment:
      - PORT=5000
    networks:
      - shared-network
  microservicecustomer:
    image: 979550021694.dkr.ecr.us-east-2.amazonaws.com/microservicetestcustomer:1.0
    ports: 
      - 1234:1234
    networks:
      - shared-network
  gateway:
    image: 979550021694.dkr.ecr.us-east-2.amazonaws.com/gateway:1.1
    ports:
      - 3000:3000
    environment:
      - PORT=3000
    networks:
      - shared-network

networks: 
  shared-network: